$light-green: #5FB4A2;
$dark-light-green: #55A292;
$dark-blue: #203A4C;
$grayish-dark-blue: #33323D;
$very-light-grey: #FAFAFA;;
$light-grey: #EAEAEB;
$bright-red: #F43030;
$xira-grey: #999999;
$oo-grey: #E6E6E7;
$tt-grey: #9E9EA3;